<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DirectorioAudios" value="C:\Metric Arts\Demos\AudioSearch\audios" />
    <add key="DirectorioAudiosProcesados" value="C:\Metric Arts\Demos\AudioSearch\audios\procesado\" />
    <add key="ApiKeySpeechService" value="ce11700b772b43ab888c7766641af0aa" />
    <add key="RegionSpeechService" value="eastus" />
    <add key="LanguageSpeechService" value="es-ES" />
    <add key="ApiKeyTextService" value="64ef223e69e744018d037513907d8199" />
    <add key="URITextService" value="https://eastus.api.cognitive.microsoft.com" />
    <add key="CosmosdbURL" value="https://cosmosdbaudiodata.documents.azure.com:443/" />
    <add key="CosmosdbKey" value="wwI8QxK0cfWb8v5OwQ2UZbNwBTvMe7OirkDYAzOzzKI04DPrJB9YANT04bRXxnRVXOiBvSrNIO0czArfNSt9tw==" />
    <add key="CosmosdbDatabaseId" value="AudiosDB" />
    <add key="CosmosdbCollectionId" value="AudioProcesado" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>